body{

    font-size: 12px;
    font-weight: normal;
}
.nav{
    padding: 7px 0px;
    overflow: hidden ;
}
.nav a {
    font-size: 14px;
    margin-right: 10px;
    margin-top: 5px;
}

.nav input {
    padding: 7px;
    width: 150px;
    margin-right: 15px;}


.nav .form button,
.person button {
    height:25px;
    margin: 0;
}

footer{

    padding: 10px 7px;;
    text-align: center;
    color: #fff;

    bottom: 0px;
    left: 0;
    right: 0;
}
.person {
    margin-top:8px;
    margin-left: -15px;
}

.admin-notes {
    padding: 0;
    background-color: #fff;
    float: right;
    margin: 40px 0 0px 0px;
    margin-right:-5px;
}
@media screen and (max-width :400px){
    body{
        font-size: 10px;
    }
    .nav a {
        font-size: 12px;
        margin-right: 10px;
        margin-top: 3px;
    }

    .nav input {

        width: 110px;
        padding: 4px;
    }

    .nav .form button,
    .person button {
        height:25px;
        margin: 0;
    }

    .person {
        margin-top:8px;
        margin-left: -15px;
    }
}